# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.pytest_cache/
.venv/
env/
venv/

# Node & Next.js
node_modules/
.next/
out/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment & Local Storage
.env*.local
.env
*.log

# Large Synthetic Forensic Evidence / Disks
*.dd
*.raw
*.img
cases/
evidence/

# OS Files
Thumbs.db
.DS_Store
desktop.ini
